<footer>
	<nav>
		<a href="https://github.com/cas380" class="foot-item no-link" target="_Blank">
			<img src="{{ site.url }}{{ site.baseurl }}/assets/icons/Github.png" alt="icon" width="20px" height="20px" />
			<span>Github</span>
		</a>
		<a href="https://www.linkedin.com/in/real-carter-smith/" class="foot-item no-link" target="_Blank">
			<img src="{{ site.url }}{{ site.baseurl }}/assets/icons/LinkedIn.png" alt="icon" width="20px" height="20px" />
			<span>Linkedin</span>
		</a>
	</nav>
</footer>
<!-- Icons at https://fonts.google.com/icons -->