<header>
	<a href="{{ '/' | relative_url }}" class="no-link">
		<img src="{{ site.url }}{{ site.baseurl }}/assets/logo.png" alt="Carter Smith Showcase" width="345px" height="80px" />
	</a>
	<nav>
		<img class="desktop" src="{{ site.url }}{{ site.baseurl }}/assets/CordLeft.png" alt="" height="30px" width="175px" />
		<a href="{{ 'about' | relative_url }}">About</a>
		<img class="desktop" src="{{ site.url }}{{ site.baseurl }}/assets/CordMid.png" alt="" height="30px" width="89px" />
		<a href="{{ 'grades' | relative_url }}">Grades</a>
		<img class="desktop" src="{{ site.url }}{{ site.baseurl }}/assets/CordMid.png" alt="" height="30px" width="89px" />
		<a href="{{ 'projects' | relative_url }}">Projects</a>
		<img class="desktop" src="{{ site.url }}{{ site.baseurl }}/assets/CordRight.png" alt="" height="30px" width="175px" />
	</nav>
</header>