{% assign project = include.p %}
{% assign thumbnail_width = include.w %}
{% assign thumbnail_height = include.h %}

<a href="{{ site.url }}{{ site.baseurl }}/projects/{{ project.proj_url }}" class="no-link">
	<div class="project-button">
		<div class="thumbnail" style="width: {{thumbnail_width}}; height: {{thumbnail_height}};">
			<img class="thumbnail_img" src="{{ site.url }}{{ site.baseurl }}/assets/previews/{{ project.img_url }}" alt="The thumbnail image." width={{thumbnail_width}} height={{thumbnail_height}} />
			<img class="thumbnail_gif" 
				{# Not every project will have a GIF... #}
				{% if project.gif_url != "" %}
					src="{{ site.url }}{{ site.baseurl }}/assets/previews/{{ project.gif_url }}" 
				{% else %}
					src="{{ site.url }}{{ site.baseurl }}/assets/previews/{{ project.img_url }}"
				{% endif %}
				alt="The thumbnail GIF." width={{thumbnail_width}} height={{thumbnail_height}} />
		</div>

		<h3 class="name">{{ project.name }}</h3>
		<br />
		{% if project.type == "School" %}
			<h5 class="class-info">{{ project.class_name }} [{{ project.class_number }}]</h5>
			<br />
		{% endif %}
		<p class="description">{{ project.description }}</p>
	</div>
</a>