/* Switch out thumbnail for IMG and GIF on hover */
div.project div.thumbnail img.thumbnail_img {
    display: block;
}
div.project div.thumbnail img.thumbnail_gif {
    display: none;
}
div.project div.thumbnail:hover img.thumbnail_img {
    display: none;
}
div.project div.thumbnail:hover img.thumbnail_gif {
    display: block;
}

div.project {
    background-color: red;
}

body {
    background-color: aqua;
}