/*   -=====================================-   */
/* -===-   default.html Layout Styling   -===- */
/*   -=====================================-   */

/* This also accounts for the project.html
   layout, a sublayout of default.html     */


/* ===================== */
/* ===  Page Header  === */
/* ===================== */
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    text-align: center;
}
header nav {
    display: flex;
    justify-content: center;
    justify-content: flex-start;
}
header nav a {
    padding-left: 10px;
    padding-right: 10px;
}
.no-link {
    text-decoration: none;
    color: black;
}

/* ====================== */
/* ===  Page Content  === */
/* ====================== */
body {
    background-color: #ddd;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.flex-vertical-center {
    background-color: hotpink;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.body-content-wrapper {
    background-color: orange;
    width: 800px;
}

/* ======================== */
/* ===  Mobile Content  === */
/* ======================== */
@media screen and (max-width: 800px) {
    /* body-content-wrapper is set to 800px above, so if the screen
       is smaller than that, we settle for the whole screen space   */
    .body-content-wrapper {
        background-color: orangered;
        width: 100%;
    }
}

/* ===================== */
/* ===  Page Footer  === */
/* ===================== */
footer {
    background-color: blanchedalmond;
    height: 10%;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}

/* ================================== */
/* ===  Project Layout Exclusive  === */
/* ================================== */
.flex-horizontal-space {
    background-color: blue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.project-header * {
    height: 20px;
}
.project-footer {
    text-align: center;
}