/*   -====================================-   */
/* -===-   grades.html Layout Styling   -===- */
/*   -====================================-   */


/* =============================== */
/* ===  Base Table Formatting  === */
/* =============================== */
table h1 {
	text-align: center;
	padding-left: 5px;
	padding-right: 5px;
}
table.base-table {
	width: 100%;
}

/* ================================ */
/* ===  Grade Table Formatting  === */
/* ================================ */
table.grade-table {
	background-color: linen;
	border-radius: 5px;
	padding: 4px;
	width: 100%;
}
table.grade-table th {
	border-bottom: 1px solid black;
	text-align: left;
}
table.grade-table tr {
	background-color: linen;
	color: midnightblue;
}
table.grade-table .center {
	text-align: center;
}
table .notice {
	background-color: rgb(25, 25, 112, 0.6);
	font-size: 10px;
	text-align: center;
	padding-bottom: 2px;
	border-radius: 5px;
	padding-left: 5px;
	padding-right: 5px;
	color: white;
}

/* ====================== */
/* ===  Grade Colors  === */
/* ====================== */
table .A, table .Ap, table .S {
	background-color: #b7e1cd;
}
table .Am {
	background-color: #d9ead3;
}
table .Bp {
	background-color: #f9cb9c;
}
table .unknownGrade {
	background-color: #d016ff;
}