/* =============================== */
/* =====   Project Styling   ===== */
/* =============================== */

/* Switch out thumbnail for IMG and GIF on hover */
div.project div.thumbnail img.thumbnail_img {
    display: block;
}
div.project div.thumbnail img.thumbnail_gif {
    display: none;
}
div.project div.thumbnail:hover img.thumbnail_img {
    display: none;
}
div.project div.thumbnail:hover img.thumbnail_gif {
    display: block;
}

div.project .name {
    font-size: 26px;
    margin: 0px;
    margin-bottom: 6px;
    display: inline-block;
    font-weight: bolder;
}
div.project .class-info {
    font-size: 18px;
    margin: 0px;
    margin-bottom: 6px;
    display: inline-block;
    color: gray;
}
div.project .description {
    font-size: 18px;
    display: inline;
}

div.project {
    background-color: #eee;
    border-radius: 20px;
    padding: 15px;
    width: 800px;
}

.project-link {
    text-decoration: none;
    color: black;
}

div.project:hover {
    box-shadow: -10px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
div.project:hover .name {
    text-decoration: underline;
}

div.project .thumbnail {
    float: left;
    margin-right: 15px;
    margin-bottom: 3px;
}
