<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>CS Showcase</title>
		<link rel="icon" type="image/png" href="{{ site.url }}{{ site.baseurl }}/assets/icons/cap.png"/>
		<link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/style/default.css">
		<link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/style/animation.css">
		{% if layout.style == "project_list" %}
			<link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/style/projects.css">
		{% elsif layout.style == "grades" %}
			<link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/style/grades.css">
		{% endif %}
	</head>
	<body>
		<div class="context">
			<br />
			{%- include header.html -%}
			<br />
			<main class="flex-vertical-center">
				<div class="body-content-wrapper">
					{{ content }}
				</div>
			</main>
			<br />
			<br />
			{%- include footer.html -%}
		</div>
		<div class="area">
			<ul class="circles">
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</div>
	</body>
</html>
