<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/style/default.css">
		{% if layout.style == "project_list" %}
			<link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/style/projects.css">
		{% elsif layout.style == "grades" %}
			<link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/style/grades.css">
		{% endif %}
	</head>
	<body>
		<br />
		{%- include navbar.html -%}
		
		<br /><br />
		
		<main class="flex-vertical-center">
			<div class="body-content-wrapper">
				{{ content }}
			</div>
		</main>

		{%- include footer.html -%}
	</body>
</html>
