---
layout: default
---

<article>
	<header>
		<div class="project-header">
			<div class="flex-horizontal-space">
				<h3 class="graduate" style="transform: rotate(-5deg);">{{ page.course_number }}</h3>
				<h3 style="width: 100px;"></h3>
				<h3 class="graduate" style="transform: rotate(5deg);">{{ page.course_name }}</h3>
			</div>
			<h1>{{ page.project_name }}</h1>
		</div>
	</header>
	{{ content }}
	<div class="project-footer">
		<h3><em>Check out this project on <a href="{{ page.github }}" target="_Blank">Github</a>.</em></h3>
	</div>
</article>